@media screen and ( max-width: 1264px )
  .wrapper
    display: flex
  .row
    flex-direction: column
    align-items: center
    justify-content: space-between
  .news
    &__card
      margin-bottom: 1.562rem

@media screen and ( max-width: 660px )
  html
    font-size: 14px
  .wrapper
    flex-direction: column
  .card
    &__subtitle
      font-size: 0.857rem
